.sidebar {
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    padding: 20px 15px;
    width: 5%;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);
}

.sidebar.open {
    width: 30%;
}

.index-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.index-container a {
    color: white;
    text-decoration: none;
}

.index-container a:hover {
    text-decoration: underline;
    color: whitesmoke;
}
