.commits-container {
    position: relative;
    top: 20%;
    left: 5%;
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .commits-container::-webkit-scrollbar {
    width: 15px; 
  }
  
  .commits-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
  }
  
  .commits-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
  .commits-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  .commit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #eee7e7;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .commit-row:hover {
    transform: translateY(-2px);
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .number {
    font-size: 16px;
    color: cornflowerblue;
  }
